@using Football.Application.Features.Plays.Models

<div class="score-card">
    <NavLink href=@($"/game/{GameId}")>
        <div class="mdc-card mdc-card--outlined">
            <div class="mdc-card__primary">
                <div class="mdc-layout-grid__inner">
                    <div
                        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3-phone mdc-layout-grid__cell--span-10-desktop">
                        <span class="mdc-typography--body2">@Play.AwayTeam</span>
                    </div>
                    <div
                        class="score-card__score mdc-layout-grid__cell mdc-layout-grid__cell--span-1-phone mdc-layout-grid__cell--span-2-desktop">
                        <span class="mdc-typography--body2">@Play.AwayScore</span>
                    </div>
                    <div
                        class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop mdc-layout-grid__cell--span-3-phone">
                        <span class="mdc-typography--body2">@Play.HomeTeam</span>
                    </div>
                    <div
                        class="score-card__score mdc-layout-grid__cell mdc-layout-grid__cell--span-1-phone mdc-layout-grid__cell--span-2-desktop">
                        <span class="mdc-typography--body2">@Play.HomeScore</span>
                    </div>
                </div>
            </div>
            <div class="mdc-card__secondary">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <span class="mdc-typography--caption">@GetQuarterText(Play.Quarter) - @Play.QuarterTimeRemaining</span>
                </div>
                <div class="score-card-description mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <span class="mdc-typography--caption">@Play.Description</span>
                </div>
            </div>
        </div>
    </NavLink>
</div>

@code {
    [Parameter]
    public int GameId { get; set; } // TODO: validate GameId

    [Parameter]
    public PlayDto Play { get; set; } = new PlayDto();

    string GetQuarterText(int quarter) => quarter switch
    {
        1 => "1st",
        2 => "2nd",
        3 => "3rd",
        4 => "4th",
        5 => "OT",
        _ => ""
    };
}
